<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon Photos</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="photo-container">
        <h1>Current ISS Location</h1>
        <p>The International Space Station is currently at:</p>
        <div class="iss-info">
            <div>
                <h2>Latitude</h2>
                <p><%= latitude %></p>
            </div>
            <div>
                <h2>Longitude</h2>
                <p><%= longitude %></p>
            </div>
        </div>
        <p>Track the ISS as it orbits the Earth, providing real time tracing s.</p>
        <p>Learn more about the ISS and the mission to exploree.</p>
        <button><a href="/">Go Back</a></button>
    </div>
</body>
</html>
